* {
    margin: 0;
}

header {
    width: 100%;
    height: 110px;

}

header#head {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
    padding: 10px;
    flex-direction: row;
}

ul {
    display: flex;
    margin: 30px;
}

ul li {
    margin: 25px;
    list-style-type: none;
    width: 60px;
}

#logo {
    list-style-type: none;
    font-size: 35px;
    margin: 45px;
    font-weight: 900;
}

.rounded-button {
    /* background-color:white ; */
    border-radius: 15px;
    /* color:rgb(234, 137, 9); */
    width: 65px;
    border: solid 3px;
    border-color: rgb(234, 137, 9);
    text-align: center;
    margin-left: 25px;
}

#sn {
    background-color: rgb(234, 137, 9);
    color: white;
}

#ln {
    background-color: white;
    color: rgb(234, 137, 9);
}

.rounded-button:hover {
    cursor: pointer;
    transform: scale(1.35);
    transition: all 0.3s;
}

#sn:hover {
    background-color: #fff;
    color: rgb(234, 137, 9);
    ;
}

#ln:hover {
    background-color: rgb(234, 137, 9);
    color: white;
}

/* @media (max-width: 320px) {

     header#head{
    flex-direction: column;
   }  
     ul {
        flex-direction: column;
    }
}

@media (max-width:800px) {
    header#head {
        flex-direction: column;
    } 

     ul{
        flex-direction: column;
    }
}

#imagesfl {
    flex-direction: row;
} */